<div class="footer">
  <div class="footer-left">
    <p>Patrick José</p>
    <span>Matrícula: 1180300801</span>
    <span>GitHub: <a href="https://github.com/patrick-jose" target="_blank">github.com/patrick-jose</a></span>
    <p></p>
    <span>Email: <a href="mailto:patricjose@gmail.comm">patricjose&#64;gmail.com</a></span>
    <span>Telefone: (21) 9657-15636</span>
  </div>
  <div class="footer-right">
    <p>Gustavo Martins</p>
    <span>Matrícula: 1200400034</span>
    <span>GitHub: <a href="https://github.com/martinskwy" target="_blank">github.com/martinskwy</a></span>
    <p></p>
    <span>Email: <a href="mailto:martinskwy@outlook.com">martinskwy&#64;outlook.com</a></span>
    <span>Telefone: (21) 99592-7816</span>
  </div>
</div>
