table {
  @media screen and (min-width: 1800px) and (min-height: 700px) {
    margin-top: 50px;
  }
}

.container {
  width: 100%;
  display: flex;
  @media screen and (min-width: 1800px) and (min-height: 700px) {
    height: calc(100vh -  200px);
  }
  @media screen and (max-width: 1800px) {
    height: calc(120vh);
  }
  align-items: center;
}

.container-2 {
  width: 100%;
  display: flex;
  @media screen and (min-width: 1800px) and (min-height: 700px) {
    height: 100vh;
  }
  @media screen and (max-width: 1800px) {
    height: 120vh;
  }
  align-items: center;
}

.chart {
  float: left;
  width: 900px;
  margin: 0px 0px 0px 60px;
}

.portfolioSummary {
  margin: 0px 60px 0px 60px;
  width: 70%;
  @media screen and (min-width: 900px) {

  }
  @media screen and (max-width: 900px) {

  }
}

.mat-mdc-header-row {
  background-color: azure;
}

.portfolioFull {
  margin: 0px 60px 0px 60px;
  width: 100%;
  height: calc(80vh);
}

#canvas {
  padding: 40px;
}

.mat-mdc-table {
  //min-width: 0;
  width: 100%;
  @media screen and (min-width: 900px) {
  }
  @media screen and (max-width: 200px) {
  }
}
