table {
  @media screen and (min-width: 1800px) and (min-height: 700px) {
    margin-top: 50px;
  }
}

.container {
  background-image: linear-gradient(to bottom, rgb(0, 79, 79, 0.3), rgb(240, 255, 255, 0.3), rgb(52, 159, 235, 0.3), rgb(0, 255, 255, 0.3));
  width: 100%;
  display: flex;
  height: calc(100vh -  100px);
  @media screen and (min-width: 1800px) and (min-height: 700px) {
    height: calc(100vh -  100px);
  }
  @media screen and (max-width: 1800px) {
    height: 120vh;
  }
  align-items: center;
}

.container-2 {
  background-image: linear-gradient(to top, rgb(0, 79, 79, 0.3), rgb(240, 255, 255, 0.3), rgb(52, 159, 235, 0.3), rgb(0, 255, 255, 0.3));
  width: 100%;
  display: flex;
  @media screen and (min-width: 1800px) and (min-height: 700px) {
    height: 100vh;
  }
  @media screen and (max-width: 1800px) {
    height: 100vh;
  }
  align-items: center;
}

.chart {
  float: left;
  width: 50%;
  margin: 0px 0px 0px 60px;
}

.portfolioSummary {
  margin: 0px 60px 0px 60px;
  width: 70%;
  @media screen and (min-width: 900px) {

  }
  @media screen and (max-width: 900px) {

  }
}

.mat-mdc-header-row {
  background-color: azure;
}

.portfolioFull {
  margin: 0px 60px 0px 60px;
  width: 100%;
  height: calc(80vh);
}

#canvas {
  padding: 40px;
}

.mat-mdc-table {
  //min-width: 0;
  width: 100%;
  @media screen and (min-width: 900px) {
  }
  @media screen and (max-width: 200px) {
  }
}
