
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$Smart-Stocks-WebApp-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$cyan-palette,
    tertiary: mat.$azure-palette,
  ),
  density: (
    scale: 0,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($Smart-Stocks-WebApp-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($Smart-Stocks-WebApp-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($Smart-Stocks-WebApp-theme);
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; scroll-behavior: smooth; }
body { margin: 0; font-family: "Lato", sans-serif }

.mat-horizontal-stepper-header-container {
  position: absolute !important;
  bottom: 0 !important;
  width: 100% !important;
}

.mat-horizontal-content-container {
  width: 640px;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}

.mdc-button__label {
  //font-size: 20px;
}

.mat-mdc-form-field {
  //width: 700px !important;
}

.mat-mdc-form-field-flex {
  display: inline-flex !important;
  align-items: baseline !important;
  box-sizing: border-box !important;
  //width: 350px !important;
}

.mat-mdc-form-field-has-icon-suffix {
  //width: 400px !important;
  align-items: left;
}
