<div class="image-home background-image-home">
  <span class="presentation-text"> Junte-se a nós e descubra como o <b style="color: rgb(99 205 224);">Smart Stocks</b> pode desmistificar o debate sobre investimentos. Comece hoje mesmo e talvez dê o primeiro passo rumo ao seu futuro financeiro mais consciente!</span>
  <div style="width: 100%; text-align: center;">
    <a routerLink="/login">
      <button mat-fab extended href="/login">
        Criar Conta
      </button>
    </a>
    <a routerLink="/login">
      <button mat-fab extended style="margin-left: 50px;">
        Fazer Login
      </button>
    </a>
  </div>
</div>

<div class="image-home-about background-image-home">
  <h1>Por que testar o Smart Stocks?</h1>
    <ul>
        <li><strong>Recomendações Personalizadas:</strong> Nosso banco de dados busca tendências de mercado e dados financeiros para fornecer conselhos, ajudando o usuário a pensar em decisões financeiras informadas e estratégicas.</li>
        <li><strong>Para Todos os Níveis:</strong> Seja você um investidor experiente ou um iniciante, nosso sistema é projetado para ser intuitivo e fácil de usar, garantindo que todos possam entender ao máximo suas análises de investimento.</li>
        <li><strong>Interface Intuitiva:</strong> Navegue com facilidade e acesse a ferramenta poderosas que torna o processo de investimento mais simples e eficaz.</li>
    </ul>
</div>

<div class="image-home-about-authors background-image-home" id="about">
  <h1>Sobre os autores</h1>
    <p>
      O Smart Stocks é um projeto desenvolvido pelos alunos <a href="https://www.linkedin.com/in/patrick-amaral-08080674/" target="_blank">Patrick José</a> e <a href="https://www.linkedin.com/in/martinskwy/" target="_blank">Gustavo Martins</a>. Este projeto foi criado como parte do Trabalho de Conclusão de Curso (TCC) da Universidade Veiga de Almeida no curso de Sistemas de Informação em 2024, com o objetivo de oferecer recomendações de investimentos personalizadas para qualquer tipo de pessoa.
      <br/>
      <br/>
      Patrick e Gustavo uniram suas habilidades e conhecimentos em tecnologia e finanças para desenvolver uma plataforma que simplifica o conhecimento sobre investimentos, tornando-o acessível e eficiente para todos. Com o Smart Stocks, eles esperam ajudar pessoas a tomar decisões financeiras mais informadas e estratégicas.
    </p>
</div>
