<div class="image-home background-image-home">
  <span class="presentation-text"> Junte-se a nós e descubra como o Smart Stocks pode transformar sua jornada de investimentos. Comece hoje mesmo e dê o primeiro passo rumo ao seu futuro financeiro!</span>
  <div style="width: 100%; text-align: center;">
    <a routerLink="/login">
      <button mat-fab extended href="/login">
        Criar Conta
      </button>
    </a>
    <a routerLink="/login">
      <button mat-fab extended style="margin-left: 50px;">
        Fazer Login
      </button>
    </a>
  </div>
</div>

<div class="image-home-about background-image-home">

</div>

<div class="image-home-about-authors background-image-home">

</div>
